.new-condition .new-condition-picker {
  padding: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row; }
  .new-condition .new-condition-picker ul {
    list-style-type: none;
    flex-grow: 1; }
    .new-condition .new-condition-picker ul li {
      text-align: center;
      text-transform: capitalize;
      padding: 5px;
      cursor: pointer; }
      .new-condition .new-condition-picker ul li:first-child {
        text-decoration: underline;
        font-size: large; }
      .new-condition .new-condition-picker ul li:hover {
        text-decoration: underline; }
