<div>
    <form class="form-inline">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" type="text" name="name" ng-model="productPerimeter.name"/>
        </div>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Valider ce perimetre</button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
    </form>
</div>
<condition condition="condition" ng-repeat="condition in conditions"></condition>
<new-condition></new-condition>
