<div>

    <h2 translate="selecteurApp.commercialOperation.home.title">CommercialOperation</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCommercialOperationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="selecteurApp.commercialOperation.home.createLabel">Create a new CommercialOperation</span>
    </button>
    <div class="modal fade" id="saveCommercialOperationModal" tabindex="-1" role="dialog" aria-labelledby="myCommercialOperationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCommercialOperationLabel" translate="selecteurApp.commercialOperation.home.createOrEditLabel">Create or edit a CommercialOperation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="commercialOperation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="selecteurApp.commercialOperation.providerCode">ProviderCode</label>
                            <input type="text" class="form-control" name="providerCode"
                                   ng-model="commercialOperation.providerCode">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCommercialOperationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(commercialOperation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="selecteurApp.commercialOperation.delete.question" translate-values="{id: '{{commercialOperation.id}}'}">Are you sure you want to delete this CommercialOperation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="selecteurApp.commercialOperation.providerCode">ProviderCode</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="commercialOperation in commercialOperations">
                    <td><a ui-sref="commercialOperationDetail({id:commercialOperation.id})">{{commercialOperation.id}}</a></td>
                    <td>{{commercialOperation.providerCode}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="commercialOperationDetail({id:commercialOperation.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(commercialOperation.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(commercialOperation.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
