<div class="panel panel-default" style="width: 390px;">
    <div class="panel-heading">
        CATEGORIES
        <form class="form-inline" style="display: inline-block;" >
            <div class="form-group form-group-sm">
                <ui-select ng-model="critere">
                    <ui-select-match placeholder="Attribut">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="attribute in attributs">{{attribute}}</ui-select-choices>
                </ui-select>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <form class="form-inline" style="margin-top: 10px;">
            <div class="form-group pull-left">
                <ui-select ng-model="taille">
                    <ui-select-match placeholder="Taille">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="taille in tailles">{{taille}}</ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group pull-right">
                <ui-select ng-model="marque">
                    <ui-select-match placeholder="Couleur">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="couleur in couleur">{{couleur}}</ui-select-choices>
                </ui-select>
            </div>
        </form>
        <img src="/assets/images/treemap.png" style="margin-top:5px;">

    </div>
</div>