<div class="panel panel-default" style="margin:15px;">
    <div class="panel-heading">
        Articles
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label>Filtre:</label>
                <input class="form-control" type="text" name="filtre" ng-model="filtre"/>
            </div>
            <div class="form-group">
                <ui-select ng-model="attribute">
                    <ui-select-match placeholder="Attribute...">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="attribute in attributes">{{attribute}}</ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group pull-right">
                <ui-select ng-model="visualisation">
                    <ui-select-match placeholder="Visualisation ...">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="groupBy in groupBys">{{groupBy}}</ui-select-choices>
                </ui-select>
            </div>
        </form>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a ng-click="toggle('Product')">Produit</a></li>
            <li role="presentation"><a ng-click="toggle('Coloris')">Exposition</a></li>
            <li role="presentation"><a ng-click="toggle('Taille')">Surengagement</a></li>
            <li role="presentation"><a ng-click="toggle('Marque')">Prix</a></li>
            <li role="presentation"><a href="#">...</a></li>
        </ul>
        <div ui-grid="gridOptions" ui-grid-pagination class="myGrid"></div>
    </div>
</div>